In [2]:
import pandas as pd
import numpy as np

In [3]:
# Import data from excel
xls = pd.ExcelFile("hk_603ipo_mrk_value.xlsm")

In [4]:
df = pd.read_excel(xls, 'Sheet1')
df['Name']=df['Name'].str.strip("<>")
df.columns = df.columns.astype(str)
df.columns = df.columns.str.replace(" 00:00:00","")
df

,Name,1988-12-30,1989-01-02,1989-01-03,1989-01-04,1989-01-05,1989-01-06,1989-01-09,1989-01-10,1989-01-11,...,2020-06-18,2020-06-19,2020-06-22,2020-06-23,2020-06-24,2020-06-25,2020-06-26,2020-06-29,2020-06-30,2020-07-01
0,1353.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,610.790,610.790,610.790,610.790,610.790,610.790,610.790,610.790,610.790,610.790
1,1439.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.051,0.051,0.054,0.052,0.051,0.051,0.052,0.053,0.052,0.052
2,1247.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.035,0.037,0.035,0.033,0.033,0.033,0.033,0.033,0.032,0.032
3,3332.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.172,0.180,0.180,0.157,0.145,0.145,0.145,0.130,0.130,0.130
4,2080.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.415,0.420,0.405,0.410,0.410,0.410,0.425,0.410,0.410,0.410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,6049.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.550,82.650,79.750,79.100,76.800,76.800,77.750,78.150,78.000,78.000
599,9928.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.240,10.420,10.740,10.480,10.240,10.240,10.520,10.520,10.520,10.520
600,9909.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.060,17.560,17.440,17.880,17.640,17.640,17.720,17.620,17.900,17.900
601,9911.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.100,2.120,1.970,2.030,1.940,1.940,1.970,1.950,1.940,1.940
602,1542.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.810,3.810,3.810,3.810,3.810,3.810,3.850,3.800,3.800,3.800

In [7]:
a = pd.read_csv('data_TR.csv',usecols=['Instrument','IPO Date','TRBC Economic Sector Name'])

# change date format
a["IPO Date"] = pd.to_datetime(a["IPO Date"]).dt.strftime('%Y-%m-%d')
a

    Instrument    IPO Date TRBC Economic Sector Name
0      1353.HK  2014-09-01        Consumer Cyclicals
1      1439.HK  2014-01-13           Basic Materials
2      1247.HK  2014-01-15        Consumer Cyclicals
3      3332.HK  2014-01-15        Consumer Cyclicals
4      2080.HK  2014-01-23               Real Estate
..         ...         ...                       ...
600    9928.HK  2019-12-19               Real Estate
601    6199.HK  2019-12-30                Financials
602    9909.HK  2019-12-30        Consumer Cyclicals
603    9911.HK  2019-12-31        Consumer Cyclicals
604    1542.HK  2019-12-31                 Utilities

[605 rows x 3 columns]

In [8]:
ipodate = a.loc[a["Instrument"] == "1353.HK", "IPO Date"].values[0]
ipodate

'2014-09-01'

In [9]:
df.loc[df['Name'] == "1353.HK",ipodate].values[0]

160.79

In [19]:
# get list of stocks
stocknames = a['Instrument'].values

#ipodates=a['IPO Date'].values

for stock in stocknames:
    print(stock)
    ipodate = a.loc[a["Instrument"] == stock,"IPO Date"].values[0]
    print(ipodate)
    if (ipodate == '2014-10-04') or (ipodate == 'nan'): continue
    marketcap = df.loc[df["Name"]== stock,ipodate].values[0]
    print(marketcap)
    #break

1353.HK
2014-09-01
160.79
1439.HK
2014-01-13
0.81
1247.HK
2014-01-15
2.81
3332.HK
2014-01-15
2.66
2080.HK
2014-01-23
2.84
2226.HK
2014-01-28
8.27
2638.HK
2014-01-29
5.34
1622.HK
2014-01-30
1.305
1636.HK
2014-02-21
0.98
1340.HK
2014-02-28
2.047
3636.HK
2014-06-03
28.3
2255.HK
2014-03-13
2.02
2608.HK
2014-03-13
3.74
0798.HK
2014-03-28
0.76
6138.HK
2014-03-31
2.91
2100.HK
2014-10-04
1400.HK
2014-04-25
7.391
1771.HK
2014-05-15
3.88
1397.HK
2014-05-22
1.24
6199.HK
2019-12-30
2.3
2111.HK
2014-05-23
2.12
2303.HK
2014-05-28
nan
6198.HK
2014-06-06
3.71
2014.HK
2014-06-17
2.99
3903.HK
2014-06-19
1.63
1330.HK
2014-06-19
3.77
1619.HK
nan

KeyError: nan