In [25]:
import pandas as pd
import numpy as np
import math

In [3]:
# Import data from excel
xls = pd.ExcelFile("hk_603ipo_mrk_value.xlsm")

In [4]:
df = pd.read_excel(xls, 'Sheet1')
df['Name']=df['Name'].str.strip("<>")
df.columns = df.columns.astype(str)
df.columns = df.columns.str.replace(" 00:00:00","")
df

,Name,1988-12-30,1989-01-02,1989-01-03,1989-01-04,1989-01-05,1989-01-06,1989-01-09,1989-01-10,1989-01-11,...,2020-06-18,2020-06-19,2020-06-22,2020-06-23,2020-06-24,2020-06-25,2020-06-26,2020-06-29,2020-06-30,2020-07-01
0,1353.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,610.790,610.790,610.790,610.790,610.790,610.790,610.790,610.790,610.790,610.790
1,1439.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.051,0.051,0.054,0.052,0.051,0.051,0.052,0.053,0.052,0.052
2,1247.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.035,0.037,0.035,0.033,0.033,0.033,0.033,0.033,0.032,0.032
3,3332.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.172,0.180,0.180,0.157,0.145,0.145,0.145,0.130,0.130,0.130
4,2080.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.415,0.420,0.405,0.410,0.410,0.410,0.425,0.410,0.410,0.410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
598,6049.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.550,82.650,79.750,79.100,76.800,76.800,77.750,78.150,78.000,78.000
599,9928.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.240,10.420,10.740,10.480,10.240,10.240,10.520,10.520,10.520,10.520
600,9909.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.060,17.560,17.440,17.880,17.640,17.640,17.720,17.620,17.900,17.900
601,9911.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.100,2.120,1.970,2.030,1.940,1.940,1.970,1.950,1.940,1.940
602,1542.HK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.810,3.810,3.810,3.810,3.810,3.810,3.850,3.800,3.800,3.800

In [139]:
tr = pd.read_csv('data_TR.csv',usecols=['Instrument','IPO Date','TRBC Economic Sector Name'])
tr["IPO Date"] = pd.to_datetime(tr["IPO Date"]).dt.strftime('%Y-%m-%d')

stockReturn = pd.read_excel('Short_performance2.xlsx')[['Company','return_1year']]
stockReturn["Company"] = stockReturn["Company"].astype(str).str.cat(['.HK']*603)

tr = tr.merge(stockReturn, left_on='Instrument', right_on='Company')
tr

    Instrument    IPO Date TRBC Economic Sector Name  Company  return_1year
0      1353.HK  2014-09-01        Consumer Cyclicals  1353.HK      0.000000
1      1439.HK  2014-01-13           Basic Materials  1439.HK      0.000000
2      1247.HK  2014-01-15        Consumer Cyclicals  1247.HK      0.040404
3      3332.HK  2014-01-15        Consumer Cyclicals  3332.HK      0.021053
4      2080.HK  2014-01-23               Real Estate  2080.HK     -0.010753
..         ...         ...                       ...      ...           ...
577    6049.HK  2019-12-19               Real Estate  6049.HK      0.037037
578    9928.HK  2019-12-19               Real Estate  9928.HK      0.018182
579    9909.HK  2019-12-30        Consumer Cyclicals  9909.HK     -0.024645
580    9911.HK  2019-12-31        Consumer Cyclicals  9911.HK      0.031746
581    1542.HK  2019-12-31                 Utilities  1542.HK     -0.011024

[582 rows x 5 columns]

In [119]:
ipodate = tr.loc[tr["Instrument"] == "1353.HK", "IPO Date"].values[0]
marketcap = df.loc[df['Name'] == "1353.HK",ipodate].values[0]
print(str(ipodate) + " " + str(marketcap))

2014-09-01 160.79

In [140]:
# get list of stocks
stocknames = tr['Instrument'].values

# create dataframe with market cap
data = pd.DataFrame(columns = ['Stock','Industry','IPO','MktCap', "return_1year"])
for stock in stocknames:
    try:
        industry = tr.loc[tr["Instrument"] == stock, "TRBC Economic Sector Name"].values[0]
        return_1year = tr.loc[tr["Instrument"] == stock, "return_1year"].values[0]
        ipodate = tr.loc[tr["Instrument"] == stock, "IPO Date"].values[0]
        marketcap = df.loc[df["Name"] == stock, ipodate].values[0]
        if pd.isna(marketcap): continue
        data = data.append({'Stock': stock, 'Industry': industry, 'IPO': ipodate, 'MktCap': marketcap, 'return_1year': return_1year}, ignore_index=True)
        #break
    except KeyError as e:
        #print(str(stock) + " " + str(e))
        continue

data

       Stock            Industry         IPO  MktCap  return_1year
0    1353.HK  Consumer Cyclicals  2014-09-01  160.79      0.000000
1    1439.HK     Basic Materials  2014-01-13    0.81      0.000000
2    1247.HK  Consumer Cyclicals  2014-01-15    2.81      0.040404
3    3332.HK  Consumer Cyclicals  2014-01-15    2.66      0.021053
4    2080.HK         Real Estate  2014-01-23    2.84     -0.010753
..       ...                 ...         ...     ...           ...
439  6049.HK         Real Estate  2019-12-19   45.35      0.037037
440  9928.HK         Real Estate  2019-12-19    4.88      0.018182
441  9909.HK  Consumer Cyclicals  2019-12-30   10.06     -0.024645
442  9911.HK  Consumer Cyclicals  2019-12-31    3.25      0.031746
443  1542.HK           Utilities  2019-12-31    4.22     -0.011024

[444 rows x 5 columns]

In [152]:
# Find company with best performance among peers
for industry in data.Industry.unique():
    
    divisions = 10 if industry in ["Consumer Cyclicals", "Industrials"] else 1 if industry in ["Utilities", "Energy"] else 4
    size = int(len(data.loc[data["Industry"] == industry].sort_values(by=['MktCap']))/divisions)
    remainder = len(data.loc[data["Industry"] == industry].sort_values(by=['MktCap']))%divisions
    
    print("Industry: " + str(industry))
    for d in range(divisions):
        start = d*size
        end = (d+1)*size+1 if d<remainder else (d+1)*size
        peers = data.loc[data["Industry"] == industry].sort_values(by=['MktCap']).iloc[start:end]
        print(str(len(peers)) + " peers")
        print(peers.sort_values(by=['return_1year'], ascending=False).iloc[0:1])
    print("=====END=====\n")

Industry: Consumer Cyclicals
9 peers
       Stock            Industry         IPO  MktCap  return_1year
367  2230.HK  Consumer Cyclicals  2019-05-21    0.31      0.071429
9 peers
       Stock            Industry         IPO  MktCap  return_1year
361  1906.HK  Consumer Cyclicals  2019-04-26    0.58      0.029677
9 peers
       Stock            Industry         IPO  MktCap  return_1year
343  1872.HK  Consumer Cyclicals  2019-02-28    0.63      0.008214
9 peers
      Stock            Industry         IPO  MktCap  return_1year
38  1418.HK  Consumer Cyclicals  2014-10-07     1.1      0.058824
9 peers
      Stock            Industry         IPO  MktCap  return_1year
38  1418.HK  Consumer Cyclicals  2014-10-07     1.1      0.058824
9 peers
       Stock            Industry         IPO  MktCap  return_1year
176  1575.HK  Consumer Cyclicals  2017-12-01    1.76      0.017094
9 peers
     Stock            Industry         IPO  MktCap  return_1year
2  1247.HK  Consumer Cyclicals  2014-01-15    2.81      0.040404
9 peers
       Stock            Industry         IPO  MktCap  return_1year
442  9911.HK  Consumer Cyclicals  2019-12-31    3.25      0.031746
9 peers
      Stock            Industry         IPO  MktCap  return_1year
29  3709.HK  Consumer Cyclicals  2014-06-27     4.4      0.148936
8 peers
       Stock            Industry         IPO  MktCap  return_1year
436  1691.HK  Consumer Cyclicals  2019-12-18    5.49      0.096154
=====END=====

Industry: Basic Materials
6 peers
       Stock         Industry         IPO  MktCap  return_1year
166  1629.HK  Basic Materials  2016-11-25    0.76      0.019608
6 peers
     Stock         Industry         IPO  MktCap  return_1year
8  1636.HK  Basic Materials  2014-02-21    0.98      0.040506
6 peers
       Stock         Industry         IPO  MktCap  return_1year
105  1452.HK  Basic Materials  2015-12-11    1.45      0.083799
5 peers
       Stock         Industry         IPO  MktCap  return_1year
136  3626.HK  Basic Materials  2016-05-18    2.61       0.04375
=====END=====

Industry: Real Estate
9 peers
       Stock     Industry         IPO  MktCap  return_1year
321  2892.HK  Real Estate  2018-12-20    1.26      0.017943
9 peers
      Stock     Industry         IPO  MktCap  return_1year
30  3639.HK  Real Estate  2014-06-27    2.44      0.094025
8 peers
      Stock     Industry         IPO  MktCap  return_1year
12  2608.HK  Real Estate  2014-03-13    3.74      0.103448
8 peers
       Stock     Industry         IPO  MktCap  return_1year
147  2278.HK  Real Estate  2016-07-15     4.8      0.018605
=====END=====

Industry: Consumer Non-Cyclicals
8 peers
       Stock                Industry         IPO  MktCap  return_1year
263  2119.HK  Consumer Non-Cyclicals  2018-11-05    1.07      0.001161
7 peers
       Stock                Industry         IPO  MktCap  return_1year
204  1962.HK  Consumer Non-Cyclicals  2017-12-07    1.54      0.068966
7 peers
       Stock                Industry         IPO  MktCap  return_1year
128  2138.HK  Consumer Non-Cyclicals  2016-11-03    2.32      0.062827
7 peers
       Stock                Industry         IPO  MktCap  return_1year
162  1458.HK  Consumer Non-Cyclicals  2016-11-11    6.67      0.041223
=====END=====

Industry: Utilities
12 peers
       Stock   Industry         IPO  MktCap  return_1year
191  2281.HK  Utilities  2017-03-31    2.27       0.01752
=====END=====

Industry: Financials
11 peers
       Stock    Industry         IPO  MktCap  return_1year
377  3877.HK  Financials  2019-06-17    1.24      0.036697
11 peers
      Stock    Industry         IPO  MktCap  return_1year
71  6161.HK  Financials  2015-01-15    2.15      0.065187
11 peers
       Stock    Industry         IPO  MktCap  return_1year
103  2799.HK  Financials  2015-10-30     3.1      0.047619
10 peers
      Stock    Industry         IPO  MktCap  return_1year
39  1848.HK  Financials  2014-11-07     7.9      0.030303
=====END=====

Industry: Industrials
11 peers
       Stock     Industry         IPO  MktCap  return_1year
397  1920.HK  Industrials  2019-08-16   0.168      0.034884
11 peers
       Stock     Industry         IPO  MktCap  return_1year
350  1891.HK  Industrials  2019-03-15    0.37      0.031616
10 peers
       Stock     Industry         IPO  MktCap  return_1year
387  1943.HK  Industrials  2019-06-28   0.465      0.076923
10 peers
       Stock     Industry         IPO  MktCap  return_1year
104  1556.HK  Industrials  2015-11-11    0.61       0.09375
10 peers
       Stock     Industry         IPO  MktCap  return_1year
297  2680.HK  Industrials  2018-09-14    0.98      0.041096
10 peers
       Stock     Industry         IPO  MktCap  return_1year
148  6816.HK  Industrials  2016-07-20    1.13      0.050633
10 peers
       Stock     Industry         IPO  MktCap  return_1year
231  3878.HK  Industrials  2017-12-22    1.26      0.113333
10 peers
       Stock     Industry         IPO  MktCap  return_1year
190  2017.HK  Industrials  2017-03-31    2.17      0.026316
10 peers
      Stock     Industry         IPO  MktCap  return_1year
36  1599.HK  Industrials  2014-08-07    3.65      0.128049
10 peers
      Stock     Industry         IPO  MktCap  return_1year
98  1527.HK  Industrials  2015-12-10    7.51      0.068182
=====END=====

Industry: Energy
11 peers
       Stock Industry         IPO  MktCap  return_1year
402  1960.HK   Energy  2019-09-30     0.8      0.044118
=====END=====

Industry: Technology
11 peers
       Stock    Industry         IPO  MktCap  return_1year
425  1747.HK  Technology  2019-11-14    0.92      0.153846
11 peers
      Stock    Industry         IPO  MktCap  return_1year
89  6133.HK  Technology  2015-06-26   2.128      0.016241
11 peers
       Stock    Industry         IPO  MktCap  return_1year
354  6819.HK  Technology  2019-03-27    5.21      0.018519
11 peers
       Stock    Industry         IPO  MktCap  return_1year
338  1896.HK  Technology  2019-04-02    16.8      0.084337
=====END=====

Industry: Academic & Educational Services
6 peers
       Stock                         Industry         IPO  MktCap  \
414  1871.HK  Academic & Educational Services  2019-10-24    0.87

     return_1year
414      0.040541
6 peers
       Stock                         Industry         IPO  MktCap  \
178  6068.HK  Academic & Educational Services  2017-01-26    1.69

     return_1year
178      0.004515
5 peers
       Stock                         Industry         IPO  MktCap  \
295  1969.HK  Academic & Educational Services  2018-09-13    1.74

     return_1year
295       0.00349
5 peers
       Stock                         Industry         IPO  MktCap  \
291  1758.HK  Academic & Educational Services  2018-07-31    2.87

     return_1year
291      0.033333
=====END=====

Industry: Healthcare
9 peers
       Stock    Industry         IPO  MktCap  return_1year
117  1548.HK  Healthcare  2015-12-30   1.312      0.053333
9 peers
      Stock    Industry         IPO  MktCap  return_1year
75  1858.HK  Healthcare  2015-11-03   2.596      0.014028
9 peers
       Stock    Industry         IPO  MktCap  return_1year
115  1558.HK  Healthcare  2015-12-29    7.27      0.066508
8 peers
       Stock    Industry         IPO  MktCap  return_1year
187  3869.HK  Healthcare  2017-03-16   12.96      0.018072
=====END=====